services:
  postgresql:
    container_name: notificationbot-postgres
    image: postgres:16
    expose:
      - ${POSTGRES_EXPOSE_PORT}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_EXPOSE_PORT}
    volumes:
      - db:/var/lib/postgresql/data
    env_file:
      - public.env
      - private.env
    environment:
      - 'POSTGRES_USER=${POSTGRES_USER}'
      - 'POSTGRES_PASSWORD=${POSTGRES_PASSWORD}'
      - 'POSTGRES_DB=${POSTGRES_DB}'
    command: -c work_mem=32MB -c shared_buffers=2GB -c maintenance_work_mem=1GB -c full_page_writes=off -c autovacuum=off -c wal_buffers=-1
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}']
      interval: 1s
      timeout: 6s
      retries: 20
    networks:
      - network

  notificationbot:
    container_name: notificationbot-app
    image: ${DOCKER_REGISTRY}/notificationbot:${TAG}
    ports:
      - ${HTTPS_PORT}:8080
      - ${HTTP_PORT}:8081
    networks:
      - network
    depends_on:
      postgresql:
          condition: service_healthy
    env_file:
      - public.env
      - private.env      

volumes:
  db:
    driver: local

networks:
  network:
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}
